# Dataset output
doreco_yuca1254_hf/

# Model checkpoints
mms-300m-yucatec-maya/

# Python
__pycache__/
*.pyc
.DS_Store

# Jupyter
.ipynb_checkpoints/
doreco_yuca1254_audiofiles_v2.0/
doreco_yuca1254_core_v2.0/
mms-300m-yucatec-maya/
